@model CAPCO.Infrastructure.Domain.PriceCode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PriceCode</legend>

    <div class="display-label">Code</div>
    <div class="display-field">@Model.Code</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


