@{
    Layout = "~/Views/ApplicationUserMailer/_Layout.cshtml";
    var activationKey = ViewBag.ActivationKey;
}

<h2>@ViewBag.Title</h2>

<p>
    Hi @ViewBag.Name! You recently registered for an account CAPCO.
    In order to start using your account, we need you to verify your email account by
    clicking on the activation link below:</p>
    
<a href="http://capcotile.com/account/activate?t=@activationKey">http://capcotile.com/account/activate?t=@activationKey</a>

<p>
    If the link doesn't work, please try entering the url into your web browser manually
    using copy/paste or by typing it in.</p>

<p>
    Thanks, and welcome to CAPCO!</p>

~ The CAPCO Team
