@using System.Web.UI.WebControls
@{
    Layout = "~/Views/ApplicationUserMailer/_Layout.cshtml";
    var username = ViewBag.Username;
    var newPassword = ViewBag.NewPassword;
}

<h2>@ViewBag.Title</h2>

<p>
    Hi @ViewBag.FirstName. Your password was recently reset. Please use the following password to log-in. Once you log-in, you can change your password to something 
    more memorable.
    
<p>@username</p>
<p>@newPassword</p>

<a href="http://capcotile.com/account/login">http://capcotile.com/account/login</a>

<p>
    Thanks!</p>

~ The CAPCO Team