@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>Are you lost?</h2>

<p>We've logged this error, but please let us know if we can help further by sending an email to .</p>
