@{
    ViewBag.Title = "CAPCO Administration";
}

<h2>Welcome to the CAPCO Administration Dashboard</h2>

<p>From here, you can control most areas of your web application, including products, customers, and content. Select an appropriate area from the left to get started.</p>
