@{
    ViewBag.Title = "Request Account Activation";
}

<h2>@ViewBag.Title</h2>
<p>Please ensure your contact information below is accurate. If you know your account number, you may provide it below. We will attach your account, and associated pricing if applicable, prior to the apocolypse.</p>
<em>existing profile information will go here</em>
<em>form will go here: account #, custom message</em>
<input type="submit" value="Submit Request" />